.logements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  gap: 60px;
  margin: 20px 4%;
  padding: 4% 5%;
  background-color: #F6F6F6;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .logements {
    display:flex;
    flex-direction: column;
    background-color: white;
    margin: 0;
    gap: 20px;
  }
}