.banner {
    position: relative;
    margin: 0 4% 30px;
    padding-bottom: 1%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
  }
    
  .banner-text {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 5rem;
  }
    
  .banner-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 10px;
  }
  
  
  
  @media (max-width: 480px) {
    .banner {
      height: 124px;
      margin: 0 17px;
    }
    .banner-text {
      font-size: 1.2rem;
      text-align: start;
      padding: 2rem 180px 2rem 10px;
      display: inline-block;
    }
  }
  
  @media (max-width: 375px) {
    .banner-text {
      padding: 2rem 180px 2rem 10px;
    } 
  }